.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.col{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

input, select {
  width: 100%;
  padding: 0.5rem;
}

input[type="checkbox"] {
  width: auto; /* La checkbox ne doit pas être à 100% */
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

textarea{
  resize: none;
  height: 21rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 2rem;
}
