@use "../abstracts/index" as *;

.search-container {
  position: relative;
  width: 50rem;
}

#searchBar {
  width: 100%;
  padding: $spacing-low $spacing-xhigh $spacing-low $spacing-low;
  border: $border-width solid $border-color;
}

.search-icon {
  position: absolute;
  right: $spacing-low;
  top: 50%;
  transform: translateY(-50%);
  width: $spacing-mid;
  height: $spacing-mid;
  cursor: pointer;
}