@use "../abstracts/index" as *;


table {
  width: 90%;
  margin: 0 auto;
  margin-bottom: $spacing-high;
  font-family: $font-secondary;
  border-collapse: collapse;
  text-align: left;
  background-color: $white;
  
  td, th {
    border: none;
    padding: $spacing-low $spacing-mid;
  }
}

thead {
  background-color: $dark-grey;
  color: $white;
  
  th {
    font-weight: bold;
  }
}

tbody tr {
  transition: background-color 0.3s;
}

td {
  img[alt="En stock icon"] {
    width: $spacing-mid;
    height: $spacing-mid;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: $spacing-low;

    img {
      width: $table-icon-size;
      height: $table-icon-size;
      transition: transform 0.2s;
    }
  }

  button:hover img {
    transform: scale(1.2);
  }
}

th:nth-child(1), td:nth-child(1) { width: 10%; }
th:nth-child(2), td:nth-child(2) { width: 15%; }
th:nth-child(3), td:nth-child(3) { width: 40%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 10%; text-align: center; }
th:nth-child(6), th:nth-child(7), th:nth-child(8), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
  width: 5%;
  text-align: center;
}