@use "../abstracts/index" as *;

.title {
    background-color: $red; 
    height: 6.4rem;
    color: $white; 
    padding: $spacing-high; 

    h1 {
        text-transform: uppercase;
        font-size: $font-high; 
    }
}

.action {
    @include flex(row, space-between, center); 
    width: 90%;
    margin: 3.5rem auto;
    gap: $spacing-low; 
}