@use "../abstracts/index" as *;

input, select {
  width: 100%;
  padding: $spacing-xlow;
  border: $border-width solid $border-color; 
}

input[type="checkbox"] {
  width: auto; 
  
}

label {
  font-weight: bold;
  margin-bottom: $spacing-xlow; 
}

textarea {
  resize: none;
  height: 21rem;
  width: 100%;
  padding: $spacing-low; 
  border: $border-width solid $border-color; 
  font-size: $font-high; 
}