header{
    flex: 0; 
    display: flex;
    flex-direction: column;
    height: 100%; 
    position: fixed;
    background-color: #323232;
    z-index: 1000;
    nav{
        margin-top: 10rem;
        ul{
            list-style-type: none;
            a{
                text-decoration: none;
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: left;
                gap: 1rem;
                padding: 1rem 3rem;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1000px) {

    header{
        width: 100%;
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        nav{       
            margin: 0.5rem;
            ul{
                margin: 0.5rem 0;
                display: flex;
                flex-direction: row;
                a{
                    padding: 1rem; 
                    img{
                        display: none;
                    }
                }
            }
        }
        .logo-image{
            img{
                width: 15rem;
                height: auto;
            }
        }
    }
}