@use "../abstracts/index" as *;


header {
    flex: 0; 
    @include flex(column, unset, unset); 
    height: 100%; 
    position: fixed;
    background-color: $dark-grey; 
    z-index: 1000;
    nav {
        margin-top: 10rem;
        ul {
            list-style-type: none;
            a {
                text-decoration: none;
                color: $white;
                @include flex(row, left, center); 
                gap: $spacing-low;
                padding: $spacing-low $spacing-high;
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        width: 100%;
        height: fit-content;
        @include flex(row, space-between, center);
        nav {       
            margin: $spacing-xlow; 
            ul {
                margin: $spacing-xlow 0;
                @include flex(row);
                a {
                    padding: $spacing-low;
                    img {
                        display: none;
        }}}}

        .logo-image {
            img {
                width: 15rem;
                height: auto;
        }}      
    }   
}            
