@use "../../abstracts/index" as *;

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: auto;
    right: 0;
    top: 0;
    width: calc(100% - 25rem);
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: relative;
    padding: 0;
    border: $border-width solid $border-color;
    background-color: $white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}



.modal-header {
    @include flex(row, space-between, center);
    background-color: $red;
    padding: $spacing-low $spacing-high;
    h2 {
        text-transform: uppercase;
        font-size: $font-high;
        color: $white;
        margin: 0;
    }
}

.modal-body {
    margin: $spacing-high auto;
    width: 80%;
    .img-produit {
        width: 100%;
        object-fit: contain;
    }
}



@media (max-width: 1000px) {
    .modal {
        width: 100%;
        margin-top: 5.8rem;
    }

    .modal-body {
        width: 100%;
    }
}
