.primary-btn {
    display: inline-flex; /* pour aligner l'icône et le texte */
    align-items: center;  /* aligne verticalement */
    gap: 8px;             /* espace entre l'icône et le texte */
    
    background-color: #F0515A;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .primary-btn img {
    width: 16px; /* ajuste selon ta préférence */
    height: 16px;
  }
  
  .primary-btn:hover {
    background-color: #b81d27; /* une teinte plus foncée au hover */
    transform: translateY(-2px); /* effet léger de "lift" */
  }
  
  .primary-btn:active {
    transform: translateY(0); /* appuie sur le bouton */
  }
  