@use "variables" as *;
@use "colors" as *;

$icon-size: 1.6rem; // Taille dédiée pour les icônes

@mixin flex($direction: column, $justify: space-between, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

%btn-common {
    @include flex(row, space-between, center);
    gap: $spacing-low; // Utilisation de la variable de spacing
    background-color: $red; // Utilisation de la variable pour la couleur de fond
    color: $white; // Utilisation de la variable pour la couleur du texte
    padding: $spacing-mid $spacing-high; // Utilisation des variables de spacing
    font-size: $font-mid; // Utilisation de la variable pour la taille de la police
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    img {
        width: $icon-size; // Taille spécifique pour les icônes
        height: $icon-size; // Taille spécifique pour les icônes
    }

    &:hover {
        background-color: $dark-red; // Utilisation de la variable pour le fond au survol
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}
