@use "../abstracts/index" as *;


html, body {
    height: 100%;
    background-color: $white;
}

.grid {
    @include flex(row, space-between);  
    height: 100%;
}

.row {
    @include flex(row, space-between); 
    gap: $spacing-high; 
}

.col {
    @include flex(column, unset, unset); 
    flex: 1;
    gap: $spacing-high; 
}


.container {
    margin-left: 25rem;
    flex: 1;
    @include flex(column, unset, unset);  
    height: 100%;
}

@media (max-width: 1000px) {
    .grid {
        @include flex(column);  
    }
    
    .container {
        margin: 5.8rem auto;
        @include flex(column, unset, unset);  
        height: fit-content;
        width: 100%;
    }
}